### Introduction to the SQLite sample database
We provide you with the SQLite sample database named Chinook. The Chinook sample database is a good database for practicing with SQL, especially SQLite.

The following database diagram illustrates the Chinook database tables and their relationships.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://github.com/Explore-AI/Pictures/blob/master/sqlite-sample-database-color.jpg?raw=true"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Chinook ERD</em>
</div>

In [4]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [5]:
# Load the Chinook database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///chinook.db

'Connected: @chinook.db'

In [7]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///chinook.db
Done.

[]